{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/222.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <body>
    <style>
      div.a
        text-align: center;
      
        color: BLUE;
      }
    </style>
    <div class="a">
    <h1> A few things to consider before booking a room</h1>
    </div>
    </body>
    <p>Booking in advance means it's more likely that many hotel rooms will be available on your travel dates. You're therefore able to pick the room you want depending on your needs and preferences:</p>
    <div class="container text-center">
      <div class="row row-cols-3">
        <div class="col"><h2>How is the location?</h2>
          <p>Especially if you’re [traveling] for the purpose of sightseeing, it’s really important to be in a place that’s very accessible.</p></div>
        <div class="col"><h2>Hotel's phone number</h2>
          <p>Be sure you have the Hotel's phone number – most of the companies have a 24/7 service number.</p>
       </div>
        <div class="col"><h2>Does it feel safe?</h2>
          <p>When it comes to location, safety is even more important than convenience. “One of the big pleasures of travel is to walk around and really experience the area,” says Goldman.</p>
       </div>
        <div class="col"><h2>Is there a mobile check-in option?</h2>
          <p>In an effort to avoid face-to-face interaction, many hotels have begun using mobile check-in options through the hotel’s phone app. And sometimes this setup includes keyless options.</p>
         </div>
        <div class="col"><h2>What are the cleaning protocols?</h2>
        <p>As people begin to get out again and consider a hotel stay, hotels will want to instill confidence by ensuring a thorough room cleaning; some hotels may even implement specific guidelines or a certification process to help their guests feel safe and comfortable.</p></div>
        <div class="col"><h2>Which surfaces need to be wiped?</h2>
          <p>Despite enhanced standard cleaning protocols, why not give the important surfaces an extra wipe down just in case? Remotes, phones, clocks, and doorknobs are all high touch areas that might benefit from a spotless.</p></div>
        <div class="col"><h2>Are there toiletries?</h2>
          <p>Most hotels offer free toiletries like shampoo and soap (at least before COVID), but it’s worth double-checking when you arrive. “The one missing amenity is often cream rinse,” says Elizabeth Avery, founder of Solo Trekker 4 U. </p></div>
        <div class="col"><h2>Did the hotel provide water?</h2>
          <p>“When you’re traveling the world, no matter where you go, no matter what they tell you about the tap water, it’s important that if you’re coming from the United States, you use bottled water,” says Goldman, “especially for brushing your teeth and without question for drinking.”</p></div>
        <div class="col"><h2>How does the bed feel?</h2>
          <p>Don’t be shy if you lie down in bed and notice a saggy mattress, torn sheets, or lumpy pillows. The front desk can usually find you a replacement or move you to a different room. “Anything you ask with a ‘please’ and ‘thank you’ and a smile, usually the people that are working in service with hotels will be happy to accommodate,” says Goldman.</p></div>
      </div>
    </div>

    
</div>
{% endblock body %}

